html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  background-attachment: fixed;
  background-image: url('../images/foodBackground.png');
  background-size: cover;
  display: flex;
  height: 640px;
  width: 360px;
}

.login-box {
  background: rgba(255, 255, 255, 0.877);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.login-box h2 {
  color: black;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: black;
  font-size: 16px;
  margin-bottom: 30px;
  outline: none;
  padding: 10px 0;
  width: 100%;
}

.login-box form button {
  background-color: #fc466b;
  border-style: none;
  color: black;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 4px;
  margin-top: 40px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.login-box button:hover:enabled {
  background: #fbffff;
  border-radius: 5px;
  color: rgb(21, 230, 66);
}

.login-box button:hover:disabled {
  background: #b80a2d;
}

.login-box button span {
  display: block;
  position: absolute;
}

@media ( min-width : 720px ) {

  .content {
    height: 760px;
    width: 100%;
  }
}

@media ( min-width : 820px ) {

  .content {
    height: 1200px;
    width: 100%;
  }
}

@media ( min-width : 1079px ) {

  .content {
    height: 768px;
    width: 100%;
  }
}

@media ( min-width : 1918px ) {

  .content {
    height: 1080px;
    width: 100%;
  }
}
