body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  border-bottom: 1px solid #666;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
}

.btn-search {
  border: none;
  outline: none;
  padding: 15px;
}

.search-input {
  border: 0;
  border-bottom: 1px solid #666;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

footer {
  bottom: 0;
  position: fixed;
}
