* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: white;
  height: 100%;
}

.header {
  align-items: center;
  border-bottom: 1px solid #666;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  height: 61px;
  justify-content: space-between;
  padding: 0 25px;
}

.header h4 {
  margin-top: 7px;
}

.btn-search {
  background: none;
  border: none;
  outline: none;
}

.search-input {
  border: 0;
  border-bottom: 1px solid #666;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

.footer-container {
  border-top: 1px solid #666;
  bottom: 0;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  position: fixed;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
}

/* TELA EXPLORAR */
.explore-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
}

.explore-container button {
  border: 1px solid #666;
  font-size: 21px;
  margin-top: 20px;
  padding: 10px;
  width: 250px;
}

/* TELA PROFILE */
.profile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
}

.profile-container button {
  border: 1px solid #666;
  font-size: 21px;
  margin-top: 20px;
  padding: 10px;
  width: 250px;
}

.recomendations {
  display: flex;
  overflow: scroll;
}

.recipe-recomendation {
  margin: 0 10px;
  margin-left: 0;
  padding: 10px;
}

.start-btn {
  bottom: 0;
  position: fixed;
}

.done-recipe-img img {
  width: 100%;
}

.done-recipe-img {
  width: 40%;
}

.done-recipe-describe {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 50%;
}

.done-recipe-describe p {
  margin: 0;
}

.done-recipe-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.done-recipe-ingredients {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.done-recipe-ingredients p {
  background-color: #ecdede;
  border-radius: 20px;
  padding: 2% 4%;
  text-align: center;
}

.done-recipe {
  align-items: center;
  border: 1px solid #f8eded;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  margin: 5% auto;
  padding: 20px 0;
  width: 90%;
}

.done-recipe-buttons {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.done-recipe-buttons button {
  background-color: #c4c4c4;
  border: solid black 1px;
  border-radius: 7px;
  color: black;
  cursor: pointer;
  padding: 3px 0;
  width: 30%;
}

.done-recipe-non-recipe {
  text-align: center;
  height: 400px;
  margin: 50% 15%;
}

.favorite-share-btn {
  display: flex;
}

.ingredients-check:checked + span {
  text-decoration: line-through;
}
